body {
	background-color: #f5f5f5;
}

.navbar{
	background-color: #0078ff;
}

.navbar > a:link, a:visited, a:active{
	color: #ffffff !important;
	text-decoration: none;
}

a:hover {
	color: #e1e1e1 !important;
	text-decoration: none;
}

.student-details{
	margin: 5px 10px 5px 0px;
	padding: 10px 20px 20px 5px;
	box-shadow: 0 0 10px 10px #f2f2f2;
	background-color: #ffffff;
}

.student-details > h1 {
	text-align: center;
}

.student-details > ul {
	font-size: 14px;
	list-style: none;
}

.news-feed {
	margin: 5px 10px 25px 0;
	padding: 10px 15px 20px 10px;
	box-shadow: 0 0 10px 10px #f2f2f2;
	background-color: #00ff12;
}

.news-feed > h3 {
	text-align: center;
	color: #ffffff;
} 

.news-feed > ul > li {
	list-style: none;
	font-size: 14px;
}

.news-feed > ul > li > a {
	display: block;
}

.attendance, .marks, .timetable{
	margin: 5px 10px 5px 0px;
	padding: 10px 20px 20px 5px;
	box-shadow: 0 0 10px 10px #f2f2f2;
	background-color: #ffffff;
}

.attendance-table, .marks-table, .timetable-table{
	width: 100%;
}

.marks-table > thead, .attendance-table > thead, .timetable-table > thead {
	background-color: #00bd0d;
	color: #ffffff;
}

tbody > tr:hover {
	color: #00007b;
}

tbody > tr >td:hover {
	font-weight: bold;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
	background-color: #0078ff;
	color: #ffffff;
}